.root {
	font-size: 64px;
	max-width: 750px;
	text-align: center;
	margin: 0 auto;
	padding: 100px 0;
	font-weight: bold;
	span{
		font-size: 80px;
	}
}
.description{
	font-size: 22px;
	font-weight: normal;
}